.search__input {
    margin: 0;
    padding: 21px 0 21px 24px;
    border-radius: 100px;
    border: 1px solid #D1D2D6;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: white;
}

@media screen and (max-width: 1023px) {
    .search__input {
        padding: 17px 0 17px 24px;
    }
}
