.popup__switch {
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 16px 0 0;
}

.popup__switch_success {
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    text-align: left;
}