@import url('__info/author__info.css');
@import url('__photo/author__photo.css');
@import url('__image/author__image.css');

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 80px 104px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .author {
        padding: 40px;
    }
}

@media screen and (max-width: 719px) {
    .author {
        padding: 32px 16px 80px;
        flex-direction: column;
        min-width: 320px;
    }
}
