.popup__close {
    background-image: url('../../../images/cross.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -46px;
    top: -46px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 1023px) {
    .popup__close {
        display: none;
    }
}

@media screen and (max-width: 719px) {
    .popup__close {
        display: block;
        width: 24px;
        height: 24px;
        right: 16px;
        top: -40px;
        background-color: #1A1B22;
    }

    .popup_black .popup__close {
        background-image: url('../../../images/cross_black.svg');
        background-color: white;
    }
}
