@import url('__info/author__info.css');
@import url('__photo/author__photo.css');
@import url('__image/author__image.css');

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 216px 80px 104px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}