.cards__card {
    position: relative;
    width: calc((100% - 32px) / 3);
    margin: 0 16px 0 0;
    padding: 0 0 24px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}

.cards__card:nth-of-type(3n) {
    margin: 0;
}

.cards__card:nth-of-type(3n+1) {
    margin-top: 16px;
}

.cards__card:first-of-type {
    margin-top: 0;
} 