.popup__close {
    background-image: url('../../../images/cross.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -46px;
    top: -46px;
    cursor: pointer;
}