@import url('__form/search__form.css');
@import url('__input/search__input.css');

.search {
    background-image: url('../../images/backgroung.png');
    background-size: cover;
    padding: 160px 416px 80px;
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
    color: white;
}