@import url('_error/cards__background_error.css');

.cards__background {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: white;
    border-radius: 8px;
}

@media screen and (max-width: 1023px) {
    .cards__background {
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 719px) {
    .cards__background {
        top: 16px;
        right: 16px;
    }
}
