.header__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 19px;
    margin: 19px 0 13px 32px;
    border: 1px solid;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    outline: none;
}

.header__login_white {
    color: white;
}

@media screen and (max-width: 1023px) {
    .header__login {
        margin-top: 14px;
        margin-left: 16px;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 719px) {
    .header__login {
        margin: 22px 0 0;
        padding: 15px 0 17px;
    }
}
