.cards__content {
    margin: 0;
    padding: 20px 24px 0px;
    box-sizing: border-box;
    height: 250px;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .cards__content {
        padding: 16px 16px 0;
        height: 222px;
    }
}

@media screen and (max-width: 719px) {
    .cards__content {
        height: 200px;
    }
}
