.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68px;
    padding: 0 0 0 42px;
}

@media screen and (max-width: 1023px) {
    .footer__social {
        padding-left: 26px;
    }
}
